/**
 * Base settings
 * ================================================== */ 

html {
	box-sizing: border-box;
	font-size: 10px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	height: 100%;
	font-size: 1.6rem;
	font-family: $body;
	line-height: 1.8;
	font-weight: 400;
	overflow-x: hidden;
	color: $colour-text;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;

	&.is-open--nav,
	&.is-loading {
		overflow: hidden;
	}
}

.page-wrapper {
	position: relative;
}