/**
 * Gravity forms
 * ================================================== */ 

.gform {
	&_wrapper {
		margin: 0 !important;
		max-width: none !important;
	}

	// List of fields (reset from entry.scss)
	&_fields {
		list-style: none;
		padding-left: 0;
	}
	
	// Submit
	&_button {
		@extend .btn;
		@extend .btn--orange;
		font-family: inherit;

		&:hover {
			background: $grey-dark;
		}
	}

	&_validation_container {
		display: none !important;
	}
}

.gfield {
	margin-bottom: 2rem;

	// Labels
	&_label {
		font-size: 1.4rem;
		color: $black;
		text-transform: uppercase;
		letter-spacing: .1em;
	}


	&_required {
		color: #f00;
	}


	// Fields
	select,
	input[type="email"],
	input[type="text"],
	textarea {
		display: block;
		width: 100% !important;
		padding: .8rem !important;
		color: $grey;
		background: $grey-lighter;
		border: .2rem solid $grey-lighter;
		outline: none;
		border-radius: 0;
		transition: all .3s ease;

		&:hover,
		&:focus {
			color: $black;
			border-color: darken($grey-lighter, 3%);
		}
	}

	select {
		border-radius: 0;
		height: 5rem;
	}

	textarea {
		max-height: 20rem;
	}
}


.validation_message {
	font-weight: 700;
	color: #C0392B;
}

/**
 * Columns
 **/ 

.gravity {
	&__col {
		
		@include mq(sm) {
			width: 50%;
			float: left;

			& + & {
				padding-left: 1.5rem;
			}
		}
	}

	&__clear {
		clear: both;
	}

}

